@import url('https://fonts.googleapis.com/css2?family=Nokora:wght@400;700&display=swap');
html{
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    background: #f6f6f6;
    font-family: 'Nokora', serif !important;
}
body {
  font-family: 'Nokora', serif !important;
}
a{
  font-family: 'Nokora', serif !important;
}
/*  Slider */
.slick-dots {
  bottom: 25px !important;
}
.saleOff {
  margin: auto;
  background: #FF6F61;
  text-align: center;
  width: 44px;
  position: absolute;
  top: -10px;
  left: 13px;
  z-index: 8000;
}

.saleOff span {
  padding: 3px 3px 0;
  display: block;
  font-size: 12px;
  position: relative;
  z-index: 9999;
  line-height: 15px;
  color: white;
  background: #FF6F61;
}

.saleOff::before {
  content: "";
  display: block;
  position: absolute;
  text-align: center;
  width: 54px;
  border-right: 5px solid transparent;
  border-bottom: 10px solid black;
  border-left: 5px solid transparent;
  left: -5px;
  z-index: 200;
}

.saleOff::after {
  width: 0;
  height: 0;
  border-left: 23px solid transparent;
  border-right: 22px solid transparent;
  border-top: 12px solid #FF6F61;
  position: absolute;
  text-align: center;
  bottom: -12px;
  content: "";
  left: 0;
  z-index: 900;
}
.web-card:hover .web-title {
  color: #FF6F61;
}
.product-preview{
  width: 600px;
}
.img-hover-zoom img{
  transition: transform .5s ease;
}
.img-hover-zoom:hover img{
  transform: scale(1.2);
}